<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Logo at the top right -->
    <img src="{{ url_for('static', filename='dulcelogo.jpg') }}" alt="Dulce Cake Shop Logo" class="logo">

    <form>
        <h1>Welcome to Dulce Cake Shop</h1>
        <h2>Login</h2>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">

        <div class="buttons">
            <button type="submit">Login</button>
            <button type="submit" class="secondary-btn">Create a new account</button>
        </div>
    </form>

</body>
</html>
